@import url("fonts.css")

$xblue: #1a6681
$xdark: #242424
$xgrey: #484848
$xlight: #d2dce0
$xwhite: #dddddd

$fontbase: 'open-sans'
$fontnav: 'titillium'

body
	padding: 0px
	margin: 0px
	font-family: $fontbase
	background-color: $xlight
	color: $xdark

a
	text-decoration: none

ul
	margin: auto
	padding: 0px
	box-sizing: border-box

li
	box-sizing: border-box

div
	padding: 0px

.top
	background-color: $xblue
	color: white
	padding: 40px
	text-align: center
	height: 100px	

.nav
	font-size: 20px
	height: 52px
	background-color: $xdark
	color: $xwhite
	text-align: center
	font-family: $fontnav
	font-style: normal
	font-weight: 700

	ul
		margin: 0px
		padding: 0px
		height: 100%

	li
		list-style-type: none
		display: inline-block
		height: 100%
		padding:
			left: 8px
			top: 14px
			right: 8px
			bottom: 0px

	a
		color: $xwhite

	li:hover
		background-color: $xblue

.header_min
	background-color: $xblue
	color: white
	padding: 0px
	text-align: center
	height: 24px

	a
		padding: 0px

	h1
		margin-top: 0px
		padding: 0px
		width: stretch
		color: white
		font-size: 16px

.content
	padding: 12px
	font-family: $fontbase
	text-align: center
	color: $xgrey

	h1
		width: stretch
		color: $xblue

	h2
		width: stretch
		color: $xdark

	h3
		width: stretch
		color: $xgrey

.nage
	font-size: 14px
	padding: 30px
	padding-top: 0px
	width: 320px
	height: 260px
	text-align: right
	list-style-type: none
	display: inline-block

	h3
		text-align: center
		margin: auto

	.select2-container
		min-width: 170px

	input
		width: 160px

	button
		padding: 0px

.board
	width: 23%
	padding:
		left: 50px
		right: 50px
	margin: auto
	display: inline-block
	text-overflow: ellipsis

	p
		margin-bottom: 8px

	.left
		width: 8%
		float: left
		text-align: left

	.middle
		width: 69%
		font-weight: 700
		float: left

	.right
		width: 23%
		text-align: right
		float: right