{% extends "base.html" %}

{% block content %}

{% load static %}

<form method="post" action="">

{% csrf_token %}

{% for line in nages %}

	{% for nage in line %}
			<h2> {{nage.id}} </h2>

			{{ nage.form.as_p }}
		    <button type="submit" name="save-{{nage.id}}">Sauvegarder</button>
		    <button type="submit" name="send-{{nage.id}}">Envoyer</button>

	{% endfor %}

{% endfor %}

</form>

<script src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

{{ nages.0.0.form.media }}

{% endblock %}