{% extends "base_min.html" %}

{% block content %}

{% load static %}

<form method="post" action="">

{% csrf_token %}

{% for line in nages %}

	<ul>
	{% for nage in line %}
		<li class="nage">
			<h3 style="background-color: {{ nage.color }}"> {{nage.id}} </h3>

			{{ nage.form.as_p }}
		    <button type="submit" name="send-{{nage.id}}">Envoyer</button>
		</li>
	{% endfor %}
	</ul>
{% endfor %}

</form>

<script src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

{{ nages.0.0.form.media }}

{% endblock %}