{% extends "base_min.html" %}

{% block content %}

{% if autoreload %}

<script type="text/javascript">setTimeout(function(){ location.reload(); }, 60000);</script>

{% endif %}

<h1 style="margin: 0px">Classement</h1>

<ul class="flex">
	<li class="board">
		<h2>{{section_rank.name}}</h2>
		<div>
		{% for line in section_rank.content %}
			<ul class="line">
				<li class="left">{{line.rank}}.</li> <li class="middle">{{line.data.name}}</li> <li class="right">{{line.data.distance}}m</li>
			</ul>
		{% endfor %}
		</div>
	</li>
		<li class="board">
		<a href="{% url 'ranking-binets' %}">
			<h2>{{binet_rank.name}}</h2>
		</a>
		<div>
		{% for line in binet_rank.content_1 %}
			<ul class="line">
				<li class="left">{{line.rank}}.</li> <li class="middle">{{line.data.name}}</li> <li class="right">{{line.data.distance}}m</li>
			</ul>
		{% endfor %}
		</div>
	</li>
	<li class="board">
		<h2>---</h2>
		<div>
		{% for line in binet_rank.content_2 %}
			<ul class="line">
				<li class="left">{{line.rank}}.</li> <li class="middle">{{line.data.name}}</li> <li class="right">{{line.data.distance}}m</li>
			</ul>
		{% endfor %}
		</div>
	</li>
	<li class="board">
		<a href="{% url 'ranking-nageurs' %}">
			<h2>{{individual_rank.name}}</h2>
		</a>
		<div>
		{% for line in individual_rank.content %}
			<ul class="line">
				<li class="left">{{line.rank}}.</li> <li class="middle">{{line.data.first_name}} {{line.data.last_name}}</li> <li class="right">{{line.data.distance}}m</li>
			</ul>
		{% endfor %}
		</div>
	</li>
</ul>
{% endblock %}