{% extends "base_min.html" %}

{% block content %}

{% if autoreload %}

<script type="text/javascript">setTimeout(function(){ location.reload(); }, 60000);</script>

{% endif %}

<h1 style="margin: 0px">Classement</h1>

<ul>
	<li class="board">
		<h2>{{section_rank.name}}</h2>
		<div>
		{% for line in section_rank.content %}
			<div>
				<p class="left">{{line.rank}}.</p> <p class="middle">{{line.data.name}}</p> <p class="right">{{line.data.distance}}m</p>
			</div>
		{% endfor %}
		</div>
	</li>
		<li class="board">
		<h2>{{binet_rank.name}}</h2>
		<div>
		{% for line in binet_rank.content_1 %}
			<div>
				<p class="left">{{line.rank}}.</p> <p class="middle">{{line.data.name}}</p> <p class="right">{{line.data.distance}}m</p>
			</div>
		{% endfor %}
		</div>
	</li>
		<li class="board">
		<h2>---</h2>
		<div>
		{% for line in binet_rank.content_2 %}
			<div>
				<p class="left">{{line.rank}}.</p> <p class="middle">{{line.data.name}}</p> <p class="right">{{line.data.distance}}m</p>
			</div>
		{% endfor %}
		</div>
	</li>
	<li class="board">
		<h2>{{individual_rank.name}}</h2>
		<div>
		{% for line in individual_rank.content %}
			<div>
				<p class="left">{{line.rank}}.</p> <p class="middle">{{line.data.first_name}} {{line.data.last_name}}</p> <p class="right">{{line.data.distance}}m</p>
			</div>
		{% endfor %}
		</div>
	</li>
</ul>
{% endblock %}